@import url('https://fonts.googleapis.com/css?family=Cousine&display=swap');

body {
    background-color: #EEF1F4;
    font-family: 'Cousine', monospace;
}

.nav li {
    display: inline-block;
}

ul {
    width: 70%;
    margin: auto;
    list-style-type: none; }
}

.navArrow {
    text-align: left;
    margin: 10 10 10 10;
}

.navArrow:hover {
    color: purple;
}

.navArrow {
    text-align: left;
}
.navTitle {
    text-align: center;
}

.navTitle:hover {
    color: purple;

}

.headRico {
    text-align: center;    
    font-size: 40px;
    font-weight: lighter;
}

.statement {
    text-align: center;    
    font-size: 15px;
    font-weight: lighter;
}


.search-container{
    width: 490px;
    display: block;
    margin: 0 auto;
}

input#search-bar{
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &\::-webkit-input-placeholder{
        transition: opacity 0.45s ease; 
        opacity: 0;
    }
    &::-moz-placeholder {
        transition: opacity 0.45s ease; 
        opacity: 0;
        }
        &:-ms-placeholder {
        transition: opacity 0.45s ease; 
        opacity: 0;
        }    
    }
    }
.search-icon{
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -45px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: rgb(92, 196, 92);
    border-radius: 50%;
    display: inline-block;

}

.button {
    border: none;
    padding: 16px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonS1 {
    background-color: #8a67b8; 
    color: white; 
    border-radius: 2px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 150px;
}

.buttonS1:hover {
    background-color: #452570;
    color: white;
}
.buttonS2 {
    background-color: #6a7f8d; 
    color: white; 
    border-radius: 2px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 150px;
}

.buttonS2:hover {
    background-color: #44525c;
    color: white;
}
.buttonS3 {
    background-color: #14b593;; 
    color: white; 
    border-radius: 2px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 150px;
}

.buttonS3:hover {
    background-color: #10745e;
    color: white;
}

h3 {
    font-size:16px;
    color: purple;
    padding-left: 355px;
}

a:hover {
    background:#EEF1F4; 
    text-decoration:none;
} 
a.tooltip span {
    display:none; 
    padding:2px 20px; 
    margin-left:12px; 
    width:300px;
}
a.tooltip:hover span{
    display:inline; 
    position:absolute; 
    background:#EEF1F4; 
    color:#6c6c6c;
}

a {
    text-decoration: none;
}


.flex-container {
    display: flex;
    justify-content: space-around;
}
